<style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial;
        padding: 20px;
        background: #f1f1f1;
    }

    /* Header/Blog Title */
    .header {
        padding: 30px;
        font-size: 40px;
        text-align: center;
        background: white;
    }

    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftcolumn {
        float: left;
        width: 75%;
    }

    /* Right column */
    .rightcolumn {
        float: left;
        width: 25%;
        padding-left: 20px;
    }

    /* Add a card effect for articles */
    .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
    }

    input[type=text] {
        border-radius: 3px;
        background-color: #f2f2f2;
        box-shadow: 0px 2px 2px #d6d6d6;
        border: none;
        padding: 2%;
        margin-bottom: 15px;
        width: 250px;
        box-sizing: border-box;
    }

    input[type=password] {
        border-radius: 3px;
        background-color: #f2f2f2;
        box-shadow: 0px 2px 2px #d6d6d6;
        border: none;
        padding: 2%;
        margin-bottom: 15px;
        width: 250px;
        box-sizing: border-box;
    }

    input[type=submit] {
        margin-top: 1.2em;
        margin-bottom: 2em;
        display: block;
        width: 30%;
        background-color: #33A192;
        color: white;
        border: none;
        padding: .6em;
        font-weight: 500;
        font-size: 1.1em;
        border-radius: 3px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {

        .leftcolumn,
        .rightcolumn {
            width: 100%;
            padding: 0;
        }
    }
</style>

<div class="header">
    <h2>Welcome to Bubbles</h2>
    <p>Share your Thought Bubbles</p>
</div>

<div class="row">
    <div class="leftcolumn">
        {% if bubbles %}
        {% for bubble in bubbles %}
        <div class="card">
            <h5>Published on {{ bubble.pub_time }} by {{ bubble.author }}</h5>
            <p>{{ bubble.bubble_text }}</p>
        </div>
        {% endfor %}
        {% else %}
        <p>There are no Bubbles yet/p>
            {% endif %}
    </div>
    <div class="rightcolumn">
        {% if user != "guest" %}
        <div class="card">
            <h3>Hi {{ user }}! </h3>
            <form action="{% url 'userpage' username=user %}">
                <input type="submit" value="My page">
            </form>
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Logout">
            </form>
        </div>
        <div class="card">
            <h3>Post a new Bubble</h3>
            <form action="{% url 'post' %}" method="POST">
                {% csrf_token %}
                {{ post_form.as_p }}
                <!-- <textarea id="bubble_text" name="bubble_text" rows="5" cols="42"
                    placeholder="What's on your mind?"></textarea> -->
                <input type="submit" value="Post">
            </form>
        </div>
        {% else %}
        <div class="card">
            <h3>Log in</h3>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {{ login_form.as_p }}
                <!-- <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="pw">Password:</label><br>
                <input type="password" id="pw" name="pw"><br> -->
                <input type="submit" value="Login"> 
            </form>
            Not registered yet? Register <a href="{% url 'register' %}">here</a>
        </div>
        {% endif %}
    </div>
</div>